body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica', 'Helvetica Neue', sans-serif;
}
#scrobble-shelf {
    text-align: center;
    width: 100%;
}
#title-header {
  font-size: 80px;
  margin-right: 55px;
  text-align: right;
  margin-bottom: 50px;
  margin-top: 50px;
  font-weight: 600;
  font-family: "Helvetica", sans-serif;
}
.shelf-item {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 25px 25px;
    background-size: cover;
}
.shelf-item-contents:hover {
    opacity: 1;
    border-color: #000;
}
.shelf-item-contents {
    padding-top: 100px;
    padding-left: 10px;
    color: #000;
    border: 25px solid transparent;
    background-color: #fff;
    box-sizing: border-box;
    opacity: 0;
    height: 100%;
    text-align: left;
}
.shelf-title, .shelf-artist {
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    pointer-events: none;
    text-overflow: ellipsis;
}
.shelf-title {
    font-weight: 600;
}
.shelf-artist {
    font-weight: 400;
}
.shelf-item.no-img > .shelf-item-contents {
    opacity: 1;
}
.project-link {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}
.project-link > a {
    text-decoration: none;
    color: #d60000;
}

