body {
    margin: 0;
    padding-bottom: 2em;
    position: relative;
    box-sizing: border-box;
    min-height: 108vh;
    font-family: 'Lato', 'Helvetica', 'Helvetica Neue', sans-serif;
    border: solid 15px #000;
}

#scrobble-shelf {
    text-align: center;
    width: 100%;
}

#title-header {
    font-size: 80px;
    margin-right: 55px;
    margin-left: 55px;
    text-align: right;
    margin-bottom: 35px;
    margin-top: 50px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

@media (max-width: 830px) {
    #title-header {
        font-size: 50px;
    }
}

@media (max-width: 350px) {
    body {
        border: 0;
    }

    #title-header {
        font-size: 40px;
    }
}

.shelf-item {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 25px 25px;
    position: relative;
    background-size: cover;
    border-radius: 8px;
    transition: transform 100ms ease-in, box-shadow 100ms ease-in;
}

@media (max-width: 1100px) {
    .shelf-item {
        margin: 10px;
    }
}

.shelf-item:active,
.shelf-item:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, .5);
    transition: transform 100ms ease-in, box-shadow 100ms ease-in;
}

.shelf-item-contents:active,
.shelf-item-contents:hover {
    opacity: 1;
}

.shelf-item-contents {
    height: 100%;
    width: 100%;
    padding: 120px 20px 0;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    text-align: left;
    transition: opacity 100ms ease-in;
}

.album-link {
    text-decoration: none;
}

.shelf-title,
.shelf-artist {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    pointer-events: none;
    text-overflow: ellipsis;
}

.shelf-title {
    font-weight: 300;
    font-size: 18px;
}

.shelf-artist {
    font-weight: 400;
    font-size: 16px;
}

.shelf-item.no-img>.shelf-item-contents {
    opacity: 1;
}

.project-link {
    font-size: 12px;
    position: absolute;
    font-weight: 400;
    bottom: 0.8em;
    left: 1em;
}

.project-link>a {
    text-decoration: none;
    color: #d60000;
}